In [30]:
import pandas as pd
import numpy as np
import time

# Load Data

In [71]:
start = time.time()
df2010 = pd.read_csv("2010.csv")
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2010.columns, df2010.shape

0:00:01
Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (1553023, 7)

In [72]:
start = time.time()
df2011 = pd.read_csv("2011.csv")
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2011.columns, df2011.shape

0:00:01
Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (1894051, 7)

In [73]:
start = time.time()
df2012 = pd.read_csv("2012.csv")
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2012.columns, df2012.shape

0:00:01
Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (1981634, 7)

In [74]:
start = time.time()
df2013 = pd.read_csv("2013.csv")
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2013.columns, df2013.shape

0:00:01
Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (2014307, 7)

In [75]:
start = time.time()
df2014 = pd.read_csv("2014.csv")
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2014.columns, df2014.shape

0:00:01
Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (2222775, 7)

In [77]:
start = time.time()
df2015 = pd.read_csv("2015.csv", index_col=0)#index_col=0
time_loading = time.time()-start
m, s = divmod(time_loading, 60)
h, m = divmod(m, 60)
print( "%d:%02d:%02d" % (h, m, s))
print df2015.columns, df2015.shape

0:00:00
Index([u'Unnamed: 0.1', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object') (1215099, 7)

**Nota:** El tiempo disminuyó para la lectura de datos. Total leyendo todos los años: 13 segundos. En comparación con la lectura de un sólo excel que tardaba en promedio 3 minutos.

In [78]:
frames = [df2010,df2011,df2012,df2013,df2014,df2015]
df_full = pd.concat(frames)

In [79]:
df_full.shape #10 millones de registros de datos

(10880889, 8)

In [80]:
df_full.to_csv("datos_todo.csv")

# Correlación  Coeficiente de Pearson 

Es una medida de la relación lineal entre dos variables aleatorias cuantitativas. A diferencia de la covarianza, la correlación de Pearson es independiente de la escala de medida de las variables.

- 1) Encontrar correlacion entre grupo etáreo y la suma del valor.
- 2) Edad y suma del valor.
- 3) Sexo y suma del valor.
- 4) Tipo de servicio y suma del valor (?)
- 5) Regresión en 1)

In [41]:
print df_full.columns

Index([u'Unnamed: 0', u'FECHA_RECEPC', u'SEXO', u'G_ETAREO', u'EDAD',
       u'FECHA_PRESTACION_SERVICIO', u'SUM_VLR_DETALLE'],
      dtype='object')

**Columnas cuantitativas: **  EDAD, SUM_VLR_DETALLE

**Categóricas: ** SEXO, G_ETAREO

**OTROS: ** CIUDADES Y FECHAS, TIPO DE SERVICIO

In [81]:
df2010.corr(method='pearson')

                 Unnamed: 0      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0         1.000000 -0.060302  0.029972  0.029720         0.006604
SEXO              -0.060302  1.000000  0.001138 -0.000286        -0.004736
G_ETAREO           0.029972  0.001138  1.000000  0.998051         0.001271
EDAD               0.029720 -0.000286  0.998051  1.000000         0.001324
SUM_VLR_DETALLE    0.006604 -0.004736  0.001271  0.001324         1.000000

In [82]:
df2011.corr(method='pearson')

                 Unnamed: 0      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0         1.000000 -0.050472 -0.022590 -0.022497         0.003914
SEXO              -0.050472  1.000000  0.013420  0.011647        -0.003384
G_ETAREO          -0.022590  0.013420  1.000000  0.998096        -0.000706
EDAD              -0.022497  0.011647  0.998096  1.000000        -0.000627
SUM_VLR_DETALLE    0.003914 -0.003384 -0.000706 -0.000627         1.000000

In [83]:
df2012.corr(method='pearson')

                 Unnamed: 0      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0         1.000000 -0.048975 -0.029381 -0.028948         0.016357
SEXO              -0.048975  1.000000  0.026371  0.025438        -0.007237
G_ETAREO          -0.029381  0.026371  1.000000  0.998149         0.004229
EDAD              -0.028948  0.025438  0.998149  1.000000         0.004277
SUM_VLR_DETALLE    0.016357 -0.007237  0.004229  0.004277         1.000000

In [84]:
df2013.corr(method='pearson')

                 Unnamed: 0      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0         1.000000 -0.029837 -0.000403 -0.000452         0.000750
SEXO              -0.029837  1.000000  0.022451  0.021629        -0.000864
G_ETAREO          -0.000403  0.022451  1.000000  0.998064        -0.001079
EDAD              -0.000452  0.021629  0.998064  1.000000        -0.001081
SUM_VLR_DETALLE    0.000750 -0.000864 -0.001079 -0.001081         1.000000

In [85]:
df2014.corr(method='pearson')

                 Unnamed: 0      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0         1.000000 -0.041361 -0.016795 -0.016761         0.014511
SEXO              -0.041361  1.000000  0.028899  0.027804        -0.008653
G_ETAREO          -0.016795  0.028899  1.000000  0.998022         0.003001
EDAD              -0.016761  0.027804  0.998022  1.000000         0.003116
SUM_VLR_DETALLE    0.014511 -0.008653  0.003001  0.003116         1.000000

In [86]:
df2015.corr(method='pearson')

                 Unnamed: 0.1      SEXO  G_ETAREO      EDAD  SUM_VLR_DETALLE
Unnamed: 0.1         1.000000 -0.002071 -0.047832 -0.047359         0.008703
SEXO                -0.002071  1.000000  0.007584  0.006009        -0.008592
G_ETAREO            -0.047832  0.007584  1.000000  0.997543         0.005311
EDAD                -0.047359  0.006009  0.997543  1.000000         0.005345
SUM_VLR_DETALLE      0.008703 -0.008592  0.005311  0.005345         1.000000

In [88]:
df_full.corr(method='pearson')

,EDAD,G_ETAREO,SEXO,SUM_VLR_DETALLE,Unnamed: 0,Unnamed: 0.1
EDAD,1.000000,0.998030,0.016602,-0.000481,-0.005262,-0.047359
G_ETAREO,0.998030,1.000000,0.017823,-0.000480,-0.005383,-0.047832
SEXO,0.016602,0.017823,1.000000,-0.000375,-0.044471,-0.002071
SUM_VLR_DETALLE,-0.000481,-0.000480,-0.000375,1.000000,0.000312,0.008703
Unnamed: 0,-0.005262,-0.005383,-0.044471,0.000312,1.000000,NaN
Unnamed: 0.1,-0.047359,-0.047832,-0.002071,0.008703,NaN,1.000000

In [87]:

print "EDAD"
print df2012.EDAD.unique(), len(df2012.EDAD.unique())
print df2013.EDAD.unique(), len(df2013.EDAD.unique())
print df2014.EDAD.unique(), len(df2014.EDAD.unique())
print df2015.EDAD.unique(), len(df2015.EDAD.unique()) #edad es numero 
print  "\n"
print "SEXO"
print df2012.SEXO.unique(), len(df2012.SEXO.unique())
print df2013.SEXO.unique(), len(df2013.SEXO.unique())
print df2014.SEXO.unique(), len(df2014.SEXO.unique())
print df2015.SEXO.unique(), len(df2015.SEXO.unique())

print "GRUPO"
print df2012.G_ETAREO.unique(), len(df2012.G_ETAREO.unique())
print df2013.G_ETAREO.unique(), len(df2013.G_ETAREO.unique())
print df2014.G_ETAREO.unique(), len(df2014.G_ETAREO.unique())
print df2015.G_ETAREO.unique(), len(df2015.G_ETAREO.unique())

#edad es numero , sexo.
#ojo mexcla de cadenas y numeros en 2015

EDAD
[ 62   7  68   8  66  67  32  12  26  75  65  47  19  57  60  61  71  51
  73  36  56  82  69   9  29  86  27  41  34  23   3  15   5  16  63  88
  55  21  98  48   6  11  44  83  90  17   2  94  79  40  64  39  14  10
  84  85  43  24  37  54   4  35  78   1  81  92  18  13  59  28  52  46
  70  58  80  53  74  87  50  89  76  25  22  77  49  95  20  33  31  72
  97  30  42  45  93  91  38 102  99  96 100 103 101 104] 104
[  5  65  23  57  58  15  63  92  11  12  36   6  69  41  64  66  82  60
  91  44  30   7   4  51  21  47  25  75   8  74  79  83  61  71  43  33
  55  19  29  39  17  27  90   2  98  26   3  40  81  86  10  56  62  34
  80  48  73  46   1  85  94  84   9  35  68  50  53  38  37  59  24  54
  88  72  18  97  78  67  20  52  45  77  76  99  14  32  16  22  42  28
  49  87  70  89  13  31  96  93 103  95 102 101 100 104] 104
[  94.   35.    8.   65.   32.   53.    6.   82.   45.   15.   44.    1.
    4.   30.   64.   14.   91.   96.   41.   29.   48.   43.    5.   72.
   70.   11.   57.   52.   81.   66.    2.   23.   58.   85.   88.   74.
   67.   87.   26.   19.   27.   63.   61.   28.   59.   62.   69.    7.
   10.   76.   55.   38.   54.   80.   36.   77.   84.   92.   37.    3.
   21.   16.   34.    9.   56.   99.   49.   12.   68.   33.   79.   71.
   73.   60.   51.   13.   31.   18.   95.   25.   83.   78.   93.   24.
   22.   46.   86.   98.   75.   39.   50.   89.   17.   47.   20.   90.
   40.   42.   97.  101.  100.  105.  102.  104.  103.] 105
[ 61   6  33  72  58  54  27  67  71  70  23  66  10  25  53  26  65  36
  19  45  22   9  52  34  60  11  44   5  29  63  13  59  14  38  73  62
  18   7  64  32  74  35  24  16   8  43  68  50  21  57  49  46  51  69
  56  55  48  41  42  31  17   4  20  30  47  12  15  37  40  39  28   3
   2   1   0  82  84  77  94  81  88  99  85  91  76  96  80  87  78  75
  83  79  86  89  90  97  93 105 100  92  95  98 102 101 103] 105


SEXO
[0 1] 2
[1 0] 2
[ 0.  1.] 2
[1 0] 2
GRUPO
[ 12.   1.  13.   6.   2.   5.  15.   9.   3.  11.  14.  10.   7.  16.  17.
   8.   4.   0.  19.  18.  20.] 21
[  1.  13.   4.  11.   3.  12.  18.   2.   7.   8.  16.   6.   0.  10.   9.
   5.  15.  14.  19.  17.  20.] 21
[ 18.   7.   1.  13.   6.  10.  16.   9.   3.   8.   0.  12.   2.  19.   5.
  14.  11.   4.  17.  15.  20.] 21
[ 12.   1.   6.  14.  11.  10.   5.  13.   4.   2.   7.   3.   9.   0.   8.
  16.  15.  18.  17.  19.  20.] 21